<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/7bcccd3ed9.js" crossorigin="anonymous"></script>
    
    <title>dh-keep</title>
</head>
<body>
    <div id="root">
        <header class="header">
            <div class="nav-logo">
                <img src="/img/icons/favicon.png" alt="Logo">
                <h3>Keep</h3>
            </div>
            <div class="buscador">
                <form action="">
                    <label for="buscar"><i class="fas fa-search"></i></label>
                    <input type="text" placeholder="Buscar" id="buscar">
                </form>
            </div>
            <nav class="nav-user">
                <i class="fas fa-redo-alt"></i>
                <i class="fas fa-cog"></i>
                <i class="far fa-user-circle"></i>
            </nav>
        </header>
    
        <div class="container">
            <aside class="sidebar-container">
                <a href="/">
                    <i class="fas fa-lightbulb"></i>
                    <h4>Notas</h4>
                </a>
                <a href="/">
                    <i class="fas fa-plus"></i>
                    <h4>Agregar</h4>
                </a>
                <a href="/">
                    <i class="fas fa-trash"></i>
                    <h4>Papelera</h4>
                </a>
            </aside>
            <main class="main-container">
                <form action="">
                    <div>
                        <input type="text" placeholder="Titulo">
                    </div>
                    <div>
                        <input type="text" placeholder="Crea una nota...">
                    </div>
                    <div>
                        <input type="color">
                        <input type="file">
                    </div>
                    <button>Guardar</button>
                </form>
                <section>
                    <article>
                        <h5>Preparar contenido</h5>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, ullam.</p>
                        <img src="" alt="">
                        <div>
                            <i></i>
                            <i></i>
                        </div>
                    </article>
                </section>
            </main>
        </div>
    </div>
</body>
</html>