<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %> 
<body>
    <div id="root">
        <%- include ('partials/header') %> 

        <div class="container">
            <%- include ('partials/aside') %> 
            <main class="main-container">

                <h1>Bienvenido a dh-keep</h1>
                
            </main>
        </div>
    </div>
</body>
</html>