<aside class="sidebar-container">
    <a href="/">
        <i class="fas fa-lightbulb"></i>
        <h4>Notas</h4>
    </a>
    <a href="/">
        <i class="fas fa-plus"></i>
        <h4>Agregar</h4>
    </a>
    <a href="/">
        <i class="fas fa-trash"></i>
        <h4>Papelera</h4>
    </a>
</aside>