<header class="header">
    <div class="nav-logo">
        <a href="/">
            <img src="/img/icons/favicon.png" alt="Logo">
            <h3>dh-keep</h3>
        </a>
    </div>
    <div class="buscador">
        <form action="">
            <label for="buscar"><i class="fas fa-search"></i></label>
            <input type="text" placeholder="Buscar" id="buscar">
        </form>
    </div>
    <nav class="nav-user">
        <i class="fas fa-redo-alt"></i>
        <i class="fas fa-cog"></i>
        <a href="/users/login"><i class="far fa-user-circle"></i></a>
    </nav>
</header>