<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %> 
<body>
    <div id="root">
        <%- include ('../partials/header') %> 

        <div class="container">
            <%- include ('../partials/aside') %> 
            <main class="main-container">

                <h1>Titulo</h1>
                <p>Descripción</p>
                
            </main>
        </div>
    </div>
</body>
</html>